.header {
    min-width: 1024px;
    max-width: 1920px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 15px;
background-color: indianred;
margin: 0 auto;
}

.header__menu{
    margin-left: 600px;
    display: flex;
    justify-content: flex-end;
}

.menu {}

.menu ul {
    display: flex;
  justify-content: flex-end;
  color: whitesmoke;
  list-style-type: none;
  hover
}

.menu li {
    margin: 0px 20px 0px 20px;
    padding: 4px 10px 4px 10px;
}


.header__Cart{
    display: flex;
    background-color: black;
    margin: 0px 0px 0px 0px;
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
    position: relative;
}

.header__Cart-img{
    width: 20px;
    display: block;
}

.header__Cart-amount{
    margin: 0px 0px 0px 8px;
    padding: 0px 6px 0px 6px;
    min-width: 9px;
    height: 18px;
    border-radius: 9px;
    background: white;
    position: absolute;
    top: -7px;
    left: 30px;
    text-align: center;
    font-size: 11px;
    font-family: sen;
    font-weight: 700;
    line-height: 18px;
}

.hidden__block {
    width: 400px;
    max-height: 400px;
    border: 1px solid indianred;
    background: white;
    position: absolute;
    top: 32px;
    right: 0;
    line-height: 2;
    display: none;
}

.header__Cart:hover .hidden__block{
    display: block;
}